body {margin: 0;}


/*h1 {
	/*color:      white;*/
	text-align: center;
	font-size:  2em;
}*/

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
/*	position: fixed;
	top: 0;
	width: 100%;*/
}

ul.topnav li {
	float: left;
	/*border-right: 1px solid #bbb;*/
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none
	/*background-color: #dddddd;*/
}

ul.topnav li a:hover:not(.active) {background-color: #111}

/*ul.topnav li a:hover {
	background-color: #111
}*/

ul.topnav li a.active {background-color: #4CAF50}


ul.topnav li.right  {float: right;}

@media screen and (min-width: 600px){
	ul.topnav li.right
	ul.topnav li {float: none;}
}
}

div {
	text-align: center
	font-color: red;
	background-color: black;
}

body {
	background-color: black;
	color: white;
}



